@charset "UTF-8";
/* CSS Document */
/*media (max-width: 1000px) and (min-width: 726px)
Phones: 320 - 767
Tablets: 768 - 1023
Desktop: 1024+ */

body {
	font-family: sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	}
header img {
	width: 15%;
	height: auto;

}
h1 {
	text-transform: uppercase;
	font-family: 'Alata', sans-serif;
	color: #685381;
	}
h2 {
	text-transform: uppercase;
	font-family: 'Alata', sans-serif;
	color: #685381;
	}
h3 {
	text-transform: uppercase;
	font-family: 'Alata', sans-serif;
	color: #fffff;
}
nav {
    background-image: -webkit-linear-gradient(left, #F6D0C0, #D8A8D3, #B8CBE5);
	width: 100%;
	padding: .25em;
}
nav ul {
	list-style-type: none;
	position: center;
}
nav ul li {
	display: inline;
	font-size: 1.25rem;
}
nav li a {
	color: #ffffff;
	text-decoration: none;
}
.grid {
  	display: grid;
  	grid-template-areas:
    '1 1 1'
    '2 3 4'
	'5 6';
	padding: 1em;
	grid-gap: 1em;
	}	
.main {
	grid-area: 1;
	background-color: #ffffff;
	padding: 1rem;
	width: 100%;
	text-align: justify;
	}
.bouquets {
	grid-area: 2;
}
.arrangements {
	grid-area: 3;
}
.occasions {
	grid-area: 4;
}
.contactus {
	grid-area: 5;
	background-color: #685381;
	padding: 1rem;
	}
.image {
	grid-area: 6;
	padding: 1rem;
	width: 50%;
	}
footer {
	background-image: -webkit-linear-gradient(left, #F6D0C0, #D8A8D3, #B8CBE5);
	width: 100%;
	padding: .25em;
	
	}
footer ul {
	color: #ffffff;
	list-style-type: none;
	position: center;
}
