@charset "UTF-8";
/* CSS Document */
body {
	font-family: sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	}
header img {
	width: 12%;
	height: auto;
}
h1 {
	margin-top: -.1em;
	text-transform: uppercase;
	font-family: 'Alata', sans-serif;
	color: #685381;
	}
h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Alata', sans-serif;
	color: #685381;
	margin-top: -.1em;
	}
h3 {
	text-transform: uppercase;
	font-family: 'Alata', sans-serif;
	color: #fffff;
}
p {
	text-align: left;
}
nav {
    background-image: -webkit-linear-gradient(left, #F6D0C0, #D8A8D3, #B8CBE5);
	width: 100%;
}
nav ul {
	list-style-type: none;
	position: center;
	padding: .5em;
}
nav ul li {
	display: inline;
	font-size: 1.25rem;
	padding: 3.5em;
}
nav li a {
	color: #ffffff;
	text-decoration: none;
	text-shadow: .75px .75px .75px #808080;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	position: relative;
}
.flex header {
	flex-basic: 100%;
}
.flex main {
	flex-basic: 100%;
	padding: 1em;
}
.flex types {
	flex-basic: 100%;
}
.flex contactus {
	flex-basic: 50%;
	padding: 1em;
}
.flex image {
	flex-basic: 50%;
	padding: 1em;
}
.flex image {
	width: 40vw;
}
.contactus {
	background-color: #685381;
}
/*.grid {
  	display: grid;
  	grid-template-areas:
    '1 1'
    '2 2'
	'3 4';
	padding: 1em;
	grid-gap: 1em;
	}	
.main {
	grid-area: 1;
	background-color: #ffffff;
	padding: 1rem;
	width: 100%;
	text-align: justify;
	}
.types {
	grid-area: 2;
}
.contactus {
	grid-area: 3;
	background-color: #685381;
	}
.image {
	grid-area: 4;
	width: 45vw;
	}*/
footer {
	background-image: -webkit-linear-gradient(left, #F6D0C0, #D8A8D3, #B8CBE5);
	width: 100%;
	padding: .25em;
	
	}
footer ul {
	color: #ffffff;
	list-style-type: none;
	position: center;
	text-shadow: 1px 1px 1px #808080;
}
footer a {
	color: #ffffff;
	text-decoration: none;
}
footer ul li {
	display: inline-block;
}